Source: debinsight
Section: python
Priority: extra
Maintainer: Oliver Maurhart <dyle71@gmail.com>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 0.8)
Standards-Version: 3.9.5

Package: debinsight
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3.5, ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: gets an insight into installed Debian packages.
 debinsight is collects package information by examining the dependency
 and reverse dependencies of packages installed in the Debian
 (or Ubuntu and derivates) operating systems. On default it prints the
 current stats of a package and all files the package installs.
